@model Project.ViewModels.UserVM


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Confirmation.css">
    <title>Error</title>
</head>
<body>
    <div>
        <p>Login Invalido. Sorry bro no estas registrado<p>
    </div>

    <a asp-controller="Home" asp-action="LoginUser">Regresar</a>
    
</body>
</html>