@model Project.ViewModels.UserVM


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Confirmation.css">
    <title>Registro</title>
</head>
<body>
    Registro exitoso <br>
    
<a asp-controller="Home" asp-action="LoginUser">Volver al inicio</a>
    
</body>
</html>