@model long

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Confirmation.css">
    <title>Login</title>
</head>
<body>
    El producto se ha eliminado exitosamente <br>
    
    <a asp-controller="Farmer" asp-action="Menu" asp-route-id=@Model>Volver al inicio</a>
    
</body>
</html>